langchain>=0.3.0
langchain-community
langchain-google-genai
langchain-pinecone
langchain-groq
pinecone-client>=5.0.0
groq
pypdf
streamlit
streamlit-lottie
requests
flask
twilio
python-dotenv
