langchain>=0.3.0,<0.4.0
langchain-community>=0.3.0,<0.4.0
langchain-core
langchain-classic
langchain-google-genai
langchain-pinecone
langchain-groq
streamlit
streamlit-lottie
flask
twilio
python-dotenv
pinecone-client
pypdf
requests
groq
